* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e8d6d0;
}

a {
  font-family: "Chivo Mono", monospace;
}

h3 {
  font-family: "Merriweather", serif;
  font-size: 1.6rem;
  margin: 100px 25px 25px;
}

.cw-container {
  text-align: center;
  margin: 50px auto;
  position: relative;
  top: 150px;
}

.img-clarusway {
  width: 185px;
  height: 185px;
  border: 5px solid #2c2c2c;
  border-radius: 180px;
}

.text-container {
  margin: auto;
  width: 600px;
  height: 600px;
  text-align: center;
  background-color: #dc6d5e;
  border: 5px solid #2c2c2c;
  border-radius: 10px;
}

.text-container h2 {
  font-family: "Chivo Mono", monospace;
  padding: 10px;
  font-size: 2.1rem;
  margin-top: 90px;
}

.date-text {
  color: yellow;
}

.footer-container {
  margin: 25px 50px;
  padding: 25px;
  text-align: center;
}

.footer-container h3 a {
  color: #a50077;
  text-decoration: none;
}

.footer-container h3 a:hover {
  padding: 10px;
  font-size: 1.5rem;
  border: 2px solid rgba(0, 0, 0, 0.185);
  border-radius: 5px;
}
